
.otp-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
/* عند اللغة العربية RTL */
:dir(rtl) .otp-box {
    flex-direction: row-reverse;
}

.otp-box input {
    direction: ltr !important;
    text-align: center;
    font-family: 'Tahoma', monospace;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    unicode-bidi: plaintext; /* يضمن عدم عكس ترتيب الأرقام */
}

.otp-box input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.3);
    outline: none;
}

.active-resend-link {
    opacity:1;
    pointer-events:auto;
}
.resend-link {
    opacity:0.5;
    pointer-events:none;
    color:#999;
}
