
/* تنسيق القوائم المنسدلة للشهر والسنة */
.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 0 4px;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    direction: rtl;
}

/* نطاق التحديد بين البداية والنهاية */
.daterangepicker td.in-range {
    background-color: #E3F2FD;  /* نطاق التحديد بين البداية والنهاية */
    color: #000 !important;
    border-radius: 0 !important;
    /* font-size: 14px; */
}

/* اليوم المختار كبداية */
.daterangepicker td.start-date {
    background-color: #1E88E5 !important;
    color: #fff !important;
    border-bottom-left-radius: 50% !important;
    border-top-left-radius: 50% !important;
    font-size: 14px;
}
/* اليوم المختار كنهاية */
.daterangepicker td.end-date {
    background-color: #1E88E5 !important;
    color: #fff !important;
    border-bottom-right-radius: 50% !important;
    border-top-right-radius: 50% !important;
}
.daterangepicker .drp-calendar.left td.end-date:not(.start-date) {
    background-color: #1E88E5 !important;
    color: #fff !important;
    border-bottom-right-radius: 50% !important;
    border-top-right-radius: 50% !important;
}
.daterangepicker td.start-date.end-date {
    background-color: #1E88E5 !important;
    color: #fff !important;
    border-radius: 50% !important;
}

/* Hover على بداية أو نهاية */
.daterangepicker td.start-date:hover {
    border-bottom-left-radius: 50% !important;
    border-top-left-radius: 50% !important;
}
.daterangepicker td.end-date:hover {
    border-bottom-right-radius: 50% !important;
    border-top-right-radius: 50% !important;
}
.daterangepicker .drp-calendar.left, .daterangepicker .drp-calendar.right {
    padding: 8px 4px;
}

/* منع تكرار نهاية التاريخ في تقويم البداية */
/* .daterangepicker .drp-calendar.left td.end-date:not(.start-date) {
    background-color: transparent !important;
    color: inherit !important;
    border-radius: 0 !important;
} */
/* إخفاء التاريخ المكرر في الطرف الآخر عند وجوده خارج الشهر */
.daterangepicke td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
    background-color: #fff !important;
    border-color: transparent !important;
    color: #999 !important;
    pointer-events: not-allowed !important; /* يمنع التفاعل والhover */
}

.daterangepicker td.off.available:hover {
    background-color: #fff !important;
    color: #999 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    cursor: not-allowed;
}

/* عند تمرير الماوس على الأيام */
.daterangepicker td.available:hover {
    background-color: #BBDEFB !important;
    border-radius: 50% !important;
    color: #000 !important;
}

/* عناصر قائمة الفترات */
.daterangepicker .ranges li {
    text-align: center;
    font-size: 14px;
}

.daterangepicker .ranges li.active {
    background-color: #088ed659;
    color: #0b5be5;
}

/* أول عنصر (مخصص) */
.daterangepicker .ranges li:first-child {
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
    padding-bottom: 6px;
    font-weight: bold;
}
/* حافة التقويم */
/* .daterangepicker .calendar-table {
    border-spacing: 2px;
} */
.friday-highlight {
    background-color: #fce4ec !important;
    color: #c2185b !important;
}
.daterangepicker.show-calendar .drp-calendar {
    display: block;
    max-width: 90%;
}
