.select{
    line-height: 30px;
    margin: 0;
    width: 100%;
    display: block;
    color: #616161;
    box-shadow: none;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.select img{
    position: absolute;
    top: 6px;
    left: 5px;
}

.list{
    display: none;
    /* height: 320px;
    height: 147px; */
    height: auto;
    margin: -1px auto;
    list-style: none;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    overflow-y: scroll;

    position: absolute;
    left: 0;
    right: 10px;
    z-index: 9;
}
.list li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    font-family: arial;
    padding-right: 9px;
    /* padding-left: 55px; */
    line-height: 40px;
    position: relative;
    color: #444;
    cursor: context-menu;
    -webkit-user-select: none;
    margin-top: -7px;
}
.list li:hover{
    background-color: #3498db;
    color: #fff;
    margin: 0;
}
.list li img {
    position: absolute;
    top: 11px;
    left: 5px;
}
