html {
    direction:rtl;
}
.avatar_background {
    height: 9rem !important;
    width: auto !important;
}

.font-size-72 {
    font-size: 72px !important;
}

.btn-group, .btn-group-vertical {
    direction: rtl;
}

.search-box .form-control {
    padding-left: 40px;
    padding-right:7px;
}
.search-box .search-icon { 
    left: 13px;
    right: auto;
}
